.btn:active:focus, .btn:focus {
  outline: none;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-list-item {
  margin: 15px 0;
  position: relative;
}

.post-img-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.post-img {
  height: 275px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.v-container {
  white-space: nowrap;
}

.v-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.v-container .v-center {
  display: inline-block;
  vertical-align: middle;
}

.post-video {
  width: 100%;
}

.post-video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: #FDFDFE;
}

.post-content {
  display: inline-block;
  position: relative;
}

.post-content > p {
  padding: 0 45px;
}

.post-content a {
  color: black;
}

.post-content .post-attr {
  display: inline-block;
  width: 100%;
  margin-top: 5px;
}

.post-content .post-attr .post-attr-value {
  margin-left: 5px;
}

.header {
  min-height: 50px;
  background-color: #EFEFEF;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
}

.header-img {
  height: 70px;
  margin-right: 15px;
}

.header-content {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.control-panel {
  margin-bottom: 15px;
}

.control-panel .btn.btn-success {
  background-color: #1E1D1F;
  border-color: #1E1D1F;
}

@media (min-width: 768px) {
  .post-content {
    height: 275px;
  }

  .post-content > p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0;
  }
}
